@{
    ViewData["Title"] = "Login";
}
<link rel="stylesheet" href="~/css/login.css">

<form method="post">
    <img src="~/images/image.png" alt="image" style="display: block; margin: 0 auto; width: 150px; height: auto;">

    <label for="usernameOrEmail" class="form-label">Username / Email</label>
    <input type="text" id="usernameOrEmail" name="usernameOrEmail" placeholder="Username or Email" required>

    <label for="password" class="form-label">Password</label>
    <input type="password" id="password" name="password" placeholder="Password" required>

    <button id="btn-login" type="submit">Login</button>

    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger">Invalid login attempt.</div>
    }
</form>
