@{
    ViewData["Title"] = "Document Number";
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Add New Document Information</h3>
    </div>
    <div class="card-body">
        <form>
            <div class="form-group">
                <label for="departmentCode">Department Code</label>
                <input type="text" class="form-control" id="departmentCode" placeholder="Enter department code">
            </div>
            <div class="form-group">
                <label for="documentType">Document Type</label>
                <input type="text" class="form-control" id="documentType" placeholder="Enter document type">
            </div>
            <div class="form-group">
                <label for="documentName">Document Name</label>
                <input type="text" class="form-control" id="documentName" placeholder="Enter document name">
            </div>
            <button type="submit" class="btn btn-primary">Generate Document Number</button>
        </form>
    </div>
</div>
